

/* independent re-order */

#sp-po-reorder-warp {}
	#sp-po-reorder-warp ul { list-style: none; }
		#sp-po-reorder-warp ul li { padding: 0; margin: 0; }
		#sp-po-reorder-warp ul li.dragging { background: #ddd none; }
			#sp-po-reorder-warp .sp-po-reorder-item-info { display: block; line-height: 30px; padding: 0 10px; margin-bottom: 10px; background: #eee none; border: 1px solid #dfdfdf; cursor: move; }
				#sp-po-reorder-warp .sp-po-drag { margin-left: -5px; }
			#sp-po-reorder-warp ul li ul { padding-left: 20px; }
	#sp-po-reorder-warp .ui-sortable-placeholder { background: #eee none; border: 2px dashed #dfdfdf; height: 28px; margin-bottom: 10px; }

	.sp-po-item-title { font-weight: bold; }
	.sp-po-item-id,
	.sp-po-item-date,
	.sp-po-item-editlink { display: inline-block; margin-left: 10px; }
	.sp-po-item-id,
	.sp-po-item-date { color: gray; font-style: italic; }

/* embedded re-order */

.sp-po-embedded-ctrl {}
	.sp-po-embedded-ctrl .button, .sp-po-embedded-ctrl .button-primary { margin-right: 6px; }
.wp-list-table .sp-po-drag { display: block; margin-left: auto; margin-right: auto; }

