

.sp-tm-field-one {}

	.sp-te-one-field-description-l { display: inline-block; }

	.form-field.sp-cm-one-t-wysiwyg input[type="button"] {
		width: auto; border-width: 1px;
	}
	.form-field.sp-cm-one-t-wysiwyg textarea {
		width: auto; border-width: 0;
	}

