

.sp-ml-lang-tabs {}

.sp-ml-lang-tabs a {
	display: inline-block; margin-right: 4px;
	border: 1px solid #999; border-radius: 3px; outline: none;
}
.sp-ml-lang-tabs a:hover { border-color: #666; }
	.sp-ml-lang-tabs img { padding: 3px; opacity: .35 }
	.sp-ml-lang-tabs a.current img { opacity: 1; }

/* options panel */

#sp-options-panel-boxes .sp-cm-one-name .sp-ml-lang-tabs { display: block; margin-top: 5px; }

/* post custom meta */

.sp-pm-box-wrap .sp-cm-one-name .sp-ml-lang-tabs { margin-left: 10px; }

/* post edit */

.sp-pe-one-field-l-post-title input[type="text"] {
	width: 100%; height: 1.7em; margin: 1px 0; padding: 3px 8px;
	font-size: 1.7em; line-height: 100%;outline: 0;
}
.sp-pe-one-field-l-post-excerpt textarea {
	width: 98%; margin: 0; height: 4em;
}

#titlediv .inside { position: relative; }
	#sp-pe-languages-selector a { line-height: normal; }

